.greece-card{
    background: url("../assets/images/greece.jpg");
}
.hawaii-card {
    background: url("../assets/images/hawaii.jpg");
}
.iceland-card {
    background: url("../assets/images/iceland.jpg");
}
.destination-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    width: 100%;
    margin-top: 4.325rem;
    background-position:center;
    background-size: cover;
    padding: 10rem;
}
.destination-container__title{
    position: absolute;
    top:5rem;
    left: 5.3rem;
    font-size: 4rem;
    font-weight: 800;
    color: white;
    z-index: 1;
}
.itenarary-card{
    min-width: 21.25rem;
    text-align: center;
    background-color: #FFFFFF;
    border-radius: 5px;
    padding: 1.25rem 1.25rem;
    line-height: 3rem;
}
.itenarary-card__subtitle{
    font-weight: 600;
    border-bottom:2px solid black ;
}
.itenarary-card__list{
    list-style: none;
}
.itenarary-card__item{
    margin: 1.5625rem;
    padding: .125rem;
    background-color: #FEFAF5;
}