/* hero Styles */
.hero-banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FEFAF5;
    margin-top: 6.2rem;
    padding: 1.875rem 5%;
    flex-wrap: wrap;
}
.hero-banner__content{
    width: 45%;
    max-width: 75rem;
}
.hero-banner__slogan{
    font-size: 3rem;
    padding: 1rem 0;
    color: #335576;
}
.hero-banner__details{
    padding-bottom: 2rem;
    color: #335576;
}
.hero-banner__cta{
    background-color: #DB7A4E;
    color: #FFFFFF;
    border-radius: 2rem;
    padding: 1rem 2rem;
    border: none;
    cursor: pointer;
    width: 12.5rem;
    height: 3.125rem;
    font-size: 1.25rem;
}
.hero-banner__image{
    /* width: 30%; */
    margin: 1.25rem 0;
    max-width: 21.41rem;
    max-height: 21.41rem
}