/* hero Styles */
.hero-banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FEFAF5;
    margin-top: 4.325rem;
    padding: 1.8rem 2.3rem;
}
.hero-banner__content{
    width:50%;
    max-width: fit-content;
    margin: 0 3rem;
}
.hero-banner__slogan{
    font-size: 3rem;
    font-weight: 600;
    padding: 1rem 0;
    color: #335576;
}
.hero-banner__details{
    padding-bottom: 2rem;
    color: #335576;
}
.hero-banner__cta{
    background-color: #DB7A4E;
    color: #FFFFFF;
    border-radius: 2rem;
    padding: 1rem 2rem;
    border: none;
    cursor: pointer;
    width: 12.5rem;
    height: 3.125rem;
    font-size: 1.25rem;
}
.hero-banner__image{
    margin: 1.25rem 0;
    padding: .9375rem;
    width: 40%;
    max-width: 37.5rem;
    min-width: 15rem;
}
/* Main Styles */
.site-main__title{
    color: #335576;
    font-weight: 800;
    padding: 1.8rem 5.3rem;
}
.destinations-container{
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
}
.destinations-container__card{
    width: 21.25rem;
    margin: .625rem;
    text-decoration: none;
}

.destinations-container__image{
    width: 100%;
    border-radius: 5px;
    height: 100vh;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
    max-width: 18rem;
    max-height: 28rem;
}
.destinations-container__title{
    display: inline;
    position: relative;
    bottom: 2.5rem;
    left: 12rem;
    font-weight: 800;
    color: white;
}
.overlay-effect{
    position: relative;
}
.overlay-effect__image{
    position: absolute;
    background-color: transparent;
    transition: background-color 0.3s ease-in-out;
}
.overlay-effect__hawaii:hover{
    background-color: skyblue;
    top:0.5px;
    box-shadow: 5px 5px 15px 5px skyblue;
}
.overlay-effect__iceland:hover {
    background-color: #043228;
    top: 0.5px;
    box-shadow: 5px 5px 15px 5px #043228;
}

.overlay-effect__greece:hover {
    background-color: #C6934B;
    top: 0.5px;
    box-shadow: 5px 5px 15px 5px #C6934B;
}